.image-filter-dialog .ppb-photo-content{
    height:100%;
    margin-right: 330px;
    padding: 12px;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.image-filter-dialog .ppb-photo-sidebar{
    width: 300px;
    display: block;
    position: absolute;
    padding: 12px 15px;
    background: #f3f3f3;
    border-right: 1px solid #ccc;
    left: initial;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    border-left: 1px solid #ccc;
    overflow: auto;
}

.ppb-photo-sidebar .control > * {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
}

.ppb-photo-sidebar .control {
    padding-top: 16px;
}

.ppb-photo-sidebar .control > label {
    width: 120px;
    padding-left: 5px;
}

.ppb-cool-panel-container.image-filter-dialog .ppb-dialog-titlebar, .ppb-cool-panel-container.image-filter-dialog .ppb-dialog-buttonpane{
    margin-right: 0;
    margin-left: 0;
}

.ppb-photo-content > img {
    width: 160px;
    display: block;
}

canvas.ppb-photo-canvas {
    cursor: pointer;
}

canvas.ppb-photo-canvas-main {
    max-width: 100%;
    height: auto;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.ppb-photo-in-progress {
    background: rgba(0,0,0,0.5);
}

.ppb-photo-in-progress, .ppb-photo-in-progress .hv-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ppb-photo-render {
    height: 0;
    width: 0;
    overflow: hidden;
}

.ppb-photo-in-progress .hv-center .dashicons {
    display:block;
    -webkit-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
    font-size: 70px;
    height: auto;
    width: auto;
    margin:0 0 25px;
}

.ppb-photo-in-progress .hv-center {
    color: #fff;
    font-size: 30px;
    height: 140px;
    width: 250px;
    text-align: center;
    margin: auto;
}